<html>
<head>
	<title>Cryptop</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- stylesheets for bubbles -->
	<link rel="stylesheet" media="all" href="stylesheets/setup.css">
	<link rel="stylesheet" media="all" href="stylesheets/says.css">
	<link rel="stylesheet" media="all" href="stylesheets/reply.css">
	<link rel="stylesheet" media="all" href="stylesheets/typing.css">
	<link rel="stylesheet" media="all" href="stylesheets/input.css">
	<style>
		h1 { text-align: center; }
		#note { padding: 20px; color: #999; font-size: 14px; line-height: 18px; margin: 0 auto; max-width: 720px; }
	</style>

	<!-- the script -->
	<script src="javascripts/Bubbles.js"></script>


</head><body><h1>Cryptop 🤖</h1>

	<!-- placeholder -->
	<div id="chat"></div>

	<script src="javascripts/jquery-3.2.1.js"></script>

	<!-- initialize bubbles -->
	<script>
		$(document).ready(function() {
			$.ajax({
				type: "POST",
				url: "/",
				data: {input: ""},
				dataType: 'json',
				success: function (res) {
					givemeBubbles.talk({ "ice": { "says": [ res] } });
				},
				error: function (data) {
					console.log('Error:', data);
				}
			});
		});

		var givemeBubbles = new Bubbles(document.getElementById("chat"), "givemeBubbles", {
			inputCallbackFn: function(o){
				console.log(o);
                $.ajax({
                    type: "POST",
                    url: "/",
                    data: {input: o.input},
                    dataType: 'json',
                    success: function (res) {
                        //console.log(res);
						givemeBubbles.talk({ "ice": { "says": [ res ] } });
                    },
                    error: function (data) {
                        console.log('Error:', data);
                    }
                });
			}
		});
	</script>
</body>
</html>
